.weather {
  width: 80%;

  color: #eeefff;
  background: rgba(27, 42, 73, 0.69);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(27, 42, 73, 0.3);
  border-radius: 8px;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 30px;
}

@media screen and (max-width: 760px) {
  .weather {
    width: 90%;
    margin: 20px auto 40px auto;
    padding: 0 10px 10px 10px;
  }
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 10;
}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 40%;
  color: #c9d1d3;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (max-width: 400px) {
  .temperature {
    font-size: 3.5rem;
  }

  .parameter-label {
    font-size: 11px;
  }

  .weather-icon {
    width: 70px;
  }

  .details {
    padding-left: 10%;
  }
}
